<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch Manager page - NSW</title>
    <script src="https://kit.fontawesome.com/b80f978b3a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/events_page.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="../public/javascripts/update_requests.js" defer></script>
    <script src="javascripts/script.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        var showing_event = 1;
        function showEventForm(){
            if(showing_event === 1){
                document.getElementById('eventForm').style.display = "block";
                showing_event = 0;
            } else {
                document.getElementById('eventForm').style.display = "none";
                showing_event = 1;
            }

        }
    </script>
</head>
<body>
    <header class="header">
    </header>

    <div class="main">
        <aside class="left">
            <h2>RSVP members</h2>
            <ul>
                <li v-for="user in RSVPs">{{ user.firstName }} {{ user.lastName }}<button type="button" @click="removeRSVP(user.userID, user.eventID)">X</button></li>
            </ul>
        </aside>

        <main class="main-background">
            <div class="banner"><h1 id="currentOrgBanner">Events:</h1></div>
            <div class="create-event">
                <h1>Create New Event <i id="caret-icon" class="fas fa-caret-down" style="float: right;" onclick="showEventForm()"></i></h1>
                <form id="eventForm">
                    <div class="form-group">
                        <label for="eventName">Event Name:</label>
                        <input type="text" id="eventName" name="eventName" required>
                    </div>
                    <div class="form-group">
                        <label for="eventDate">Event Date:</label>
                        <input type="date" id="eventDate" name="eventDate" required>
                    </div>
                    <div class="form-group">
                        <label for="eventDescription">Event Description:</label>
                        <textarea id="eventDescription" name="eventDescription" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="orgID">OrgID:</label>
                        <input type="text" id="orgID" name="orgID" required>
                    </div>
                    <button type="submit" class="submit" onclick="create_event()">Create Event</button>
                </form>
            </div>

            <div class="big-box">
                <div class="event-box" v-for="item in eventTable" >
                    <a @click="showRSVP(item.eventID)">
                        <img src="images/event_post.jpg" alt="Event Image">
                        <div class="event-details">
                            <span>Date: {{ item.eventDate }}</span>
                            <h3>{{ item.eventTitle }}</h3>
                            <p>{{ item.eventDescription }}</p>
                        </div>
                    </a>
                    <!--<div class="event_button">
                        <button class="interested-button" type="button" @click="edit_event(item.eventID)">Edit</button>
                    </div>-->
                </div>
            </div>
        </main>

    </div>
    <!-- Footer section -->
    <footer id="footer">
    </footer>
    <!-- Footer section ended -->
</body>
</html>