
.contact-background{
    min-height: 33vh;
    width:auto;
    min-width:0%;
    height:100%;
    background-image:
    linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
    url('../images/BG_4.jpg');
    background-size: cover;
    background-position: center;
  
  }
  
  #contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px; /* Add padding to the left */
    padding-right: 150px; /* Add padding to the right */
  
  }
  
  #contact h1{
    font-size: 50px;
    color: white;
    font-style: italic;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  
  
  #contact .row{
    display: flex;
    background-image:
    linear-gradient(rgba(43, 46, 68, 0.9), rgba(6, 12, 36, 0.9));
    gap: 1rem;
    margin-bottom: 100px;
  }
  
  #contact .row .map{
    flex: 1 1 45rem;
    padding: 5rem 3rem;
    text-align: center;
  }
  
  #contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 3rem;
    text-align: center;
  }
  
  #contact .row form h3{
    font-size: 2rem;
    color: white;
  }
  
  #contact .row form p{
    color: #d8d8d8;
    line-height: 30px;
  }
  
  #contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: black;
    border: 1px solid grey;
  }
  
  #contact .row form .inputBox span{
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
  }
  
  #contact .row form .inputBox input{
    width: 100%;
    font-size: 13px;
    padding-left: 10px;
    color: black;
    padding: 10px;
  
  
  }
  
  #contact .row form .inputBox textarea::placeholder{
    width: 100%;
    font-size: 13px;
  }
  
  #contact .row form .inputBox textarea{
    width: 100%;
    padding: 10px;
    font-size:16px;
    color: #444444;
    border: none;
    outline: none;
    background-color: #f5f4fa ;
  }
  
  #contact .row form .inputBox textarea{
    resize: none;
    height: 150px;
  }
  
  #contact .row form .btn{
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: #f5f4fa;
    background-color: #1c92aa;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  #contact .row form .btn:hover{
    background-color: #115664;
  }
  