/* News css
contains banner CSS, and page layout css */

.banner{
    min-height: 33vh;
    width:auto;
    min-width:0%; 
    height:100%;
    background-image:
    linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
    url('../images/BG_4.jpg');
    background-size: cover;
    background-position: center;
}

/* banner */
.banner h1{
    font-size: 69px;
    color: white;
    font-style: italic;
    padding-left: 50px;
    padding-top: 111px;
}


/* blog */
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 99px;
}

.blog-background{
    min-height: 33vh;
    width:auto;
    min-width:0%; 
    height:100%;
    background-image: url('../images/news.png');
    background-size: cover;
    background-position: center;
}

#blog h1{
    padding-top: 50px;
    font-size: 50px;
    font-style: italic;
}

#blog h1::after{
    content: "";
    display: block;
    height: 3px;
    background: #1c92aa; 
    margin: 5px auto 0;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width:444px;
    background-color: #ffffff;
    border: 2px solid #ececec;
    margin: 20px 20px;
}
.blog-img{
    width:100%;
    height: auto;
    overflow: hidden;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.2s ease-in-out; /* Use ease-in-out for a smooth effect */
}

.blog-img img:hover{
    transform: scale(1.1); /* Scale the image within the container */
}

.blog-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #cc9900;
    font-size: 0.9rem;
    padding-bottom: 5px;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a{
    color: black;
}
.blog-text a:hover{
    color: orange;
}

