@font-face {
    font-family: 'LOL'; /* Name you want to give to the font */
    src: url('BeaufortforLOL.ttf') format('truetype'); /* Path to the font file */
  }

  html{
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
  }

  *{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'LOL', sans-serif;
  }

.banner{
  /* BG cover - thomas change - width: auto and object-fit contain, so it should always scale properly to screen size*/
  min-height: 100vh;
  width:auto;
  min-width:0%; /* seems to fix scaling issue ??? */
  height:100%;
  background-image:
  linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
  url('../images/login_BG.jpeg');
  /*https://wallpaper.mob.org/image/anime-girl-black_white-cyberpunk-1041426.html*/
  background-size: cover;
  background-position: center;
}



/* Signin/Signup form */
.wrapper{
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);


  width: 330px;
  padding:2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px ;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.0);
  
}

h1{
  font-size: 2rem;
  color : #07001f;
  margin-bottom: 1.2rem;
}

form input{
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}

#g_id_onload{
  margin-top: 25px;
}

button{
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  cursor: pointer;
  background: rgb(62, 136, 165);
}

button:hover{
  background: rgba(15, 74, 97, 0.877);
}

input:focus{
  border: 1px solid rgb(192, 192, 192);
}

.terms{
  margin-top: 0.2rem;
}

.terms input{
  height: 1em;
  width: 1em;
  vertical-align: middle;
  cursor: pointer;
}

.terms label{
  font-size: 0.8rem;
}
.terms a{
  font-size: 0.8rem;
  color: rgb(18, 109, 145); /* Initial text color */
  text-decoration: none;
}
.terms a:hover {
  color: orange; /* Change text color on hover */
}

.member{
  font-size: 0.9rem;
  margin-top: 1.4rem;
  color: #636363;
}

.member a{
  font-size: 0.9rem;
  color: rgb(18, 109, 145); /* Initial text color */
  text-decoration: none;
}

.member a:hover {
  color: orange; /* Change text color on hover */
}
