/* main page css
contains banner CSS, and page layout css */

/* image css for main banner */
.banner_main{
    /* BG cover - thomas change - width: auto and object-fit contain, so it should always scale properly to screen size*/
    min-height: 95vh;
    width:auto;
    min-width:0%; /* seems to fix scaling issue ??? */
    height:100%;
    background-image:
    linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
    url('../images/BG.jpg');
    background-size: cover;
    background-position: center;

    /* mini quote */
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    align-items: center;
    gap: 2rem;
  }

  /* Navigation bar display (RESPONSIVE DESIGN) */
  @media (max-width: 1222px){
    .navbar .nav_links,
    .navbar .action_btn{
      display: none;
    }

    .navbar .toggle_btn{
      display: block;
    }

    .drop_down{
      display:block;
    } 

    .drop_down.open{
      right: 0; /* Slide in from right to left when open */
    }

    .banner_main{
      grid-template-columns: 1fr;
  }

    .section_text p{
      display: none;
    }
    .section_text {
      font-size: 20px; /* Adjust the font size as needed */
      margin: 0 auto;
      text-align: center;
      padding-bottom: 0px; /* Add padding to the bottom */
      padding-top: 45px;

    }
  }

  @media (max-width: 450px) {

    .banner_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

      .section_text {
        font-size: 18px; /* Adjust the font size as needed */
        margin: 0 auto;
        text-align: center;
        padding-bottom: 0px; /* Add padding to the bottom */
      }

      .section_image img {
        width: auto;
        max-width: none;
        height: auto;
        max-height: none;
        transform: scale(0.69); /* Adjust the scale value as needed */
    }
  }




/* Image and text introduction */
section{
    padding: 0 19%;
    /* max-width: 1200px; Optional: Set a maximum width for the section */
  }

  .section_image img {
    margin: -100px auto 0; /* Center the section horizontally and adjust the top margin */
    max-width: 555px;
  }

  .section_text{
    margin: -90px auto 0; /* Center the section horizontally and adjust the top margin */
  }

  .section_text h1{
    font-size: 60px;
    color:#fff;
  }

  .section_text p{
    font-size: 20px;
    color:#fff;
    margin: 10px 0 30px;
  }
  /* Image and text introduction ended*/

