    *{
        margin: 0;
        padding: 0;
    }

    h2{
        color: #E4E6EB;
    }
    .big-box {
        padding: 50px;
        display: grid;
        grid-template-columns: 1.5fr 2.5fr; /* Adjusted the ratios to make left-box wider */
        grid-gap: 30px;
    }

    .left-box {
        display: flex;
        flex-direction: column;
    }

    .left-box .user-box {
        background-color: #2a2b2c;
        color: #E4E6EB;
        border-radius: 10px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        padding: 20px;
        flex-grow: 1;
        border: 0.1px solid #3E4042;
    }

    .right-box {
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 20px;
    }

    .right-box .manager-box {
        background-color: #2a2b2c;
        color: #E4E6EB;
        border-radius: 10px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        padding: 20px;
        border: 0.1px solid #3E4042;
    }

    .right-box .update-box {
        background-color: #2a2b2c;
        border-radius: 10px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        padding: 20px;
        border: 0.1px solid #3E4042;
    }

    .right-box .events-box {
        background-color: #2a2b2c;
        border-radius: 10px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        padding: 20px;
        border: 0.1px solid #3E4042;

    }

    .post {
        background-color: #E4E6EB;
        border-radius: 10px;
        position: relative;
        color:black;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .post:hover{
        cursor: pointer;
    }

    .post .post-top {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .post .post-top .post-info {
        margin-left: 10px;
        font-weight: bold;
    }

    .post .post-top .post-info .name {
        cursor: pointer;
        font-size: 16px;
        line-height: 33px;
    }

    .post .post-top .post-info .time {
        font-size: 12px;
    }

    .post .post-top i {
        margin-left: auto;
        cursor: pointer;
        padding-right: 15px;
    }

    .post .post-content {
        padding: 10px;
    }

    .post .post-content img {
        width: 100%;
        margin-top: 20px;
        border-radius: 5px;
    }

    .post .post-bottom {
        display: flex;
        justify-content: center;
        padding: 5px;
        border-top: 1px solid #ddd;
    }

    .post .action {
        padding: 10px;
        border-radius: 10px;
        transition: .3s ease-in;
        cursor: pointer;
    }

    .post .action:hover {
        background: #eee;
    }

    .user-box ul {
        list-style-type: none;
        padding: 0;
    }

    .user-box ul li {
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        background-color: #3A3B3C;
        border-radius: 5px;
        color: white;
    }

    .user-box ul li button {
        background-color: #8a1715;
        border: none;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .user-box ul li button:hover {
        background-color: darkred;
    }

    .big-box button {
        padding: 10px 20px;
        color: white;
        border: none;
        cursor: pointer;
        width: 273%;
        border-radius: 5px;
        font-size: 20px;
        background: rgb(62, 136, 165);
    }

    .big-box button:hover{
      background: rgba(15, 74, 97, 0.877);
    }



